#textfield {
    height: 50px;
    font-size: 16px;
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#4D3409;
}

#yournotesheading {
    font-size: 36px;
}

#old-note-area {
    /* background-color: #FFF1F6; */
    background-color:#F5E4DE; 
}

#funstuff {
      background-color:	#D7EDEB 
}