.App {
  padding-right: 50px;
  padding-left: 50px;
  background-image: url("tryout8.jpg");
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-image: url("little6.gif");
  height: 200px;
  padding: 20px;
  color:#4D3409;
  font-size: 86px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


#welcome {
  color: #4D3409;
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
  text-align: center;
}

#new-note-area {
  background-color: gold

}

.columns {
  margin-top: 20px;
  color:#4D3409;
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#noteslabel {
  font-size: 30px;
}

#textfield {
  height: 50px;
  font-size: 16px;
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:#4D3409;
}

#yournotesheading {
  font-size: 36px;
  text-decoration: underline;
}

#old-note-area {
  /* background-color: #FFF1F6; */
  background-color:#F5E4DE; 
}

#funstuff {
    background-color:	#D7EDEB 
}

#linkcolors {
  color: #af8202;
  font-size: 18px;
}

#loginnav {
  /* background-color: #4D3409; */
  background-color: #F5E4DE; 
}

#navbuttontext {
  color: #4D3409; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0 0 0 10px;
  font-size: 20px;
  margin-left: 200px;
  margin-right: 200px;
}

#navitem {
  text-align: center;
}

#loginbox {
  color: #4D3409; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#entrybackground {
  background-color:	goldenrod

}

#plzlogin {
  background-color:	goldenrod;
  font-size: 20px;
  color: #4D3409; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#audrey {
  color: #4D3409; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color:	#D7EDEB;
  opacity: 0.8;
  text-align: center;
  font-weight: bold;
  ;
}

#glittertitle {
  width: 100%;
}

#message {
  text-align: center;
  font-size: 24px;
  /* background-image: url("little6.gif"); */
  height: 30px;
}

#btnSearch {
  height: 40px;
  /* position: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 100px;
}

#randomclicker {
  position: center;
}

#regularmessage {
  font-size: 24px;
  margin-left: 50px;
}

#seperator {
  background-image: url("coffeesticker.gif");
  height: 260px;
  width: 288px;
  margin-left: 60px;
}
#secondbtnSearch {
height: 40px;
width: 210px;
  /* position: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 100px;
}

#secondmessage {
  text-align: center;
  font-size: 24px;
  /* background-image: url("little6.gif"); */
  height: 40px;
}

#jamsmessage {
  margin-left: 70px;
  font-size: 28px;
}

#notesubmitbtn {
  text-align: center;
  font-size: 18px;
  /* background-image: url("little6.gif"); */
  height: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-right: 180px;
}

#changeupmessage {
  font-size: 28px;
  margin-left: 50px;
}