.App {
  padding-right: 50px;
  padding-left: 50px;
  background-image: url("tryout8.jpg");
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-image: url("option1.gif");
  height: 200px;
  padding: 20px;
  color:#4D3409;
  font-size: 86px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


#welcome {
  color: #4D3409;
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
  text-align: center;
}

#new-note-area {
  background-color: gold

}

.columns {
  margin-top: 20px;
  color:#4D3409;
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#noteslabel {
  font-size: 30px;
}

#textfield {
  height: 50px;
  font-size: 16px;
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:#4D3409;
}

#yournotesheading {
  font-size: 36px;
}

#old-note-area {
  /* background-color: #FFF1F6; */
  background-color:#F5E4DE; 
}

#funstuff {
    background-color:	#D7EDEB 
}

#linkcolors {
  color: #af8202
}